/**
 * _module.scss
 */

/**
 * components: m-switch
 */
.m-switch-label {
  width: 200px;
  height: 60px;
  background: #9E0000;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius: 30px;
  display: block;
  top: 50px;
  left: 50px;
  position: absolute;
  z-index: 1;
  transition: all 300ms ease-in 0s;
}
#m-switch {
  top: 60px;
  position: absolute;
  left: 100px;
}
#m-switch:before {
  content: "";
  position: absolute;
  top: -23px;
  left: -75px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  background: #9E0000;
  border: none;
  z-index: 2;
  box-shadow: inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition: box-shadow 500ms ease-in 0s, left 300ms ease-in 0s;
}
#m-switch:checked:before {
  left: 90px;
  box-shadow: inset 0 0 0 0 #9E0000,0 0 5px 0 #000;
}
#m-switch:checked + label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}
