@import 'base';
@import 'module';
@import 'fontawesome';

.app-wrapper {
  background-color: #f5f5f5;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * header
 */
.app-wrapper .app-title {
  position: absolute;
  width: 100%;
  background-color: #9E0000;
  height: 60px;
  top: 0px;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: spin;
}
.app-wrapper .app-title .loading-area {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.app-wrapper .app-title .loading {
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: load;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
}
.app-wrapper .app-title .fadeout {
  -webkit-animation-delay: 1.6s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: disparition;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
}
.app-wrapper .app-title .fadein {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 28px;
  color: #ffffff;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: apparition;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
}

/** header animation */
@-webkit-keyframes spin {
  0%,100% {height: 60px;}
  20% {height: 370px;border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;}
  35%,65% {height:53px;}50% {height:70px;} 80% {height:63px;}
}
@-webkit-keyframes load {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes disparition {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes apparition {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/**
 * content
 */
.app-wrapper .app-content {
  height: 300px;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  color: #666;
  font-size: 36px;
  text-align: center;
  box-shadow: 0 0 2px #999999;
  margin-top: 70px;
}
.app-wrapper .app-content .description {
  padding: 10px;
  font-size: 30px;
  padding-top: 20px;
}
.app-wrapper .app-content .share-url {
  font-size: 20px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 2px solid rgba(48, 142, 245, 0.36);
  -webkit-box-shadow: rgba(0, 30, 253, 0.38) 0px 0px 6px 3px;
}
.app-wrapper .app-content .share-button {
  position: relative;
  height: 130px;
  left: 30px;
}
.app-wrapper .app-content .share-button .share-button-desc {
  font-size: 14px;
  padding-right: 50px;
}
.app-wrapper .app-content .home-link {
  position: relative;
  top: -10px;
  font-size: 14px;
  text-align: right;
}
.app-wrapper .app-content .home-link a {
  color: #666;
  border-bottom: 1px solid #666;
}
.app-wrapper .app-content .attention {
  font-size: 12px;
}


/**
 * クリップボードコピーボタン
 */
.app-wrapper .app-copy-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: 120px;
  right: 20px;
  box-shadow: 1px 1px 8px #333333;
  background-color: #fff;
  cursor: pointer;
}
.app-wrapper .app-copy-button:hover {
  background-color: #D2D9E4;
}
.app-wrapper .app-copy-button.on {
  background-color: #CFCFCF !important;
}
.app-wrapper .app-copy-button img {
  padding: 11px;
}

.clip-notification {
  position: absolute;
  width: 200px;
  height: 40px;
  bottom: 20px;
  left: 15px;
  line-height: 40px;
  background-color: #666;
  -webkit-box-shadow: 3px 3px rgba(253, 253, 255, 0.59);
  color: #fff;
  z-index: 3;
  opacity: 0;
  -webkit-transform: translateY(80px);
  -webkit-animation: clip-notification 3s;
}
@-webkit-keyframes clip-notification {
  0%   {-webkit-transform: translateY(80px); opacity: 0;}
  20%  {-webkit-transform: translateY(0px); opacity: 1;}
  80%  {-webkit-transform: translateY(0px); opacity: 1;}
  100% {-webkit-transform: translateY(80px); opacity: 0;}
}
